h1 {

  }
  body {
    background-image: linear-gradient(to bottom right, rgb(55, 0, 255), rgb(140, 0, 196));
    margin: 0px;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh
  }
  #rcorners4 {
    border-radius: 15px;
    background: #5facf5;
    padding: 20px; 
    width: 800px;
    height: 50px; 
  } 
  
