h1 {
    
  }
  body {
    background-image: linear-gradient(to bottom right, rgb(55, 0, 255), rgb(140, 0, 196));
    margin: 0px;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh
  }
  
